@{

    ViewData["Title"] = "Второе задание";

}

<form method="post">
    <label for="inputText"></label>
    <input id="inputText" type="text" name="inputText" placeholder="Введите предложение"/>

    <input type="submit" value="Отправить" />
</form>

<p>@ViewBag.Result</p>